<h2>Custom tag helpers</h2>

<a href="regular_anchor.com">Regular href link</a>
<br />
<a asp-action="About">Standard action link asp-action</a>
<br />
<a asp-glyphIcon="Edit">Glyph icon on standard anchor tag</a>
<br />
<a asp-action="About" asp-glyphIcon="Edit">asp-action link with edit glyph icon</a>
<br />
<a asp-action="About" asp-glyphIcon="Trash">asp-action with delete glyph icon</a>
